page-home {

    ion-navbar[hidebackbutton] button[menutoggle]{
        display: block !important;
    }

    background-color: antiquewhite;
}

.box_mona{
    float: left;
    width: 100%;


}

.mona{
    width: 40%;
    float: left;
    
}

.info_mona{
    width: 60%;
    float: left;
    padding: 10px;
}

.text_mona{
    width: 100%;
    
}

.nombre_bicho{
    float: left;
    width: 100%;
}

.taxonomia{
    float: left;
    width: 100%;
}

.ubicacion_bicho{
    float: right;
    width: 80px;
    
    
}
.ubicacion{
    float: left;
    width: 100%;        
}

.boton_location{
    background-color: transparent;    
    float: right;    
}

.info_user{
    float: right;
    color: green;   
    width: 100%;     
}